* {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", "Arial";
  color: #333;
  --green: #808000;
  --blue: #008080;
  --red: #800000;
}

img {
  vertical-align: bottom;
}

#banner {
  width: 100%;
}

#menu {
  background: linear-gradient(#222, #333);
  padding: 5px;
  height: 35px;
  position: relative;
  border-top: 5px solid var(--green);
  color: #EEE;
}

#post {
  background: linear-gradient(#333, #222);
  color: #EEE;
  padding: 5px;
  height: 35px;
  position: relative;
  border-bottom: 5px solid var(--green);
}

#page {
  background: radial-gradient(#EEE, #DDD);
  min-height: 90vh;
}

#leftmenu {
  background: linear-gradient(#333, #222);
  width: 10%;
  position: fixed;
  border-bottom: 5px solid var(--green);
  text-align: center;
  padding-top: 5px;
}

#upbutton {
  background: linear-gradient(#333, #222);
  height: 35px;
  width: calc(10% - 10px);
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#content {
  padding: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  background: radial-gradient(#FFF, #EEE);
  margin-left: 10%;
  margin-right: 10%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  box-shadow: 10px 0px 10px #DDD, -10px 0px 10px #DDD;
}

.button {
  color: #EEE !important;
  padding: 5px;
  background: radial-gradient(#333, #222);
  border-bottom: 5px solid var(--green);
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-weight: normal !important;
}

.button:hover {
  border-bottom: 5px solid var(--blue);
}

.button.important {
  min-width: 50px;
  width: 75%;
  margin: 5px;
}

a:link, a:visited {
  color: var(--green);
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active {
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
}

.button.disabled {
  border-bottom: 5px solid var(--red);
}

.box {
  display: inline-block;
  border: 1px solid #DDD;
  padding: 5px;
  padding-bottom: 25px;
  margin: 5px;
  width: 98%;
}

#botimg {
  width: 100%;
  max-width: 350px;
}

.round {
  border-radius: 5px;
}

.cadre {
  margin: 5px;
  display: inline-block;
  border: 1px solid #CCC;
  box-shadow: 2px 5px 10px #DDD;
}

.cadre img {
  width: 100%;
}

.cadre p {
  background: linear-gradient(#FFF, #EEE);
  text-align: center;
  padding: 5px;
}

.separator {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 1px;
  background: #CCC;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(#EEE, #FFF, #EEE);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#222, #333, #222);
    border-bottom: 5px solid var(--green);
    border-top: 5px solid var(--green);
}

::-webkit-scrollbar-thumb:active {
  border-bottom: 5px solid var(--blue);
  border-top: 5px solid var(--blue);
}

::-webkit-scrollbar-corner {
  background: #EEE;
}
