* {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", "Arial";
  color: #333;
}

header {
  background: linear-gradient(#222, #333);
  color: #EEE;
  padding: 5px;
  height: 5vh;
  position: relative;
  border-top: 5px solid #808000;
}

footer {
  background: linear-gradient(#333, #222);
  color: #EEE;
  padding: 5px;
  height: 5vh;
  position: relative;
  border-bottom: 5px solid #808000;
}

#page {
  background: radial-gradient(#EEE, #DDD);
  height: 90vh;
}

#left {
  background: linear-gradient(#333, #222);
  width: 10%;
  min-height: 10em;
  position: fixed;
  border-bottom: 5px solid #808000;
  text-align: center;
}

#content {
  padding: 5px;
  height: 100%;
  background: radial-gradient(#FFF, #EEE);
  margin-left: 10%;
  margin-right: 10%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  box-shadow: 10px 0px 10px #DDD, -10px 0px 10px #DDD;
}

.button {
  color: #EEE !important;
  padding: 5px;
  background: radial-gradient(#333, #222);
  border-bottom: 5px solid #808000;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
}

a:link, a:visited {
  color: #808000;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.button:hover {
  border-bottom: 5px solid #008080;
}

.button.left {
  width: 7.5em;
  margin: 5px;
}
