<div class="chatbot-wrapper" [style.background]="!preview && responsive ? 'radial-gradient(#333, #222)' : 'none'">
  <div class="chatbot-window"
  [style.display]="preview ? 'none' : 'block'"
  [style.width]="width"
  [style.height]="height"
  [ngStyle]="getStyle">
    <div class="chatbot-header"
    [style.height]="headerHeight"
    [style.border-top-left-radius]="responsive ? '0' : '15px'">
      <a appPulse class="button"
      [style.display]="responsive ? 'inline-block' : 'none'"
      (click)="toggleChatbox()">Close</a>
      <img src="./assets/drabot.png" [style.top]="responsive ? '0' : '-25px'"><br>
      <span>Drabot</span>
    </div>
    <div class="chatbot-messages" [style.height]="messagesHeight" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <p *ngFor="let message of messages"
      [innerHTML]="message.content | keepHtml"
      class="chatbot-message"
      [style.border-left]="message.keywords.length ? '5px solid olive' : '5px solid teal'">
      </p>
    </div>
    <form class="chatbot-form"
    [style.height]="formHeight"
    [style.border-bottom-left-radius]="responsive ? '0' : '15px'"
    (submit)="sendMessage()">
      <input type="text"
      [style.height]="responsive ? '48px' : '16px'"
      [(ngModel)]="text" [ngModelOptions]="{standalone: true}">
      <input appPulse type="submit" value="Send" class="button">
    </form>
  </div>
  <a (click)="toggleChatbox()" [style.display]="preview ? 'block' : 'none'" class="chatbot-preview">
    Click here for help
  </a>
  <a [style.border]="preview ? '2.5px solid olive' : '2.5px solid teal'"
  [style.display]="preview || !responsive ? 'inline' : 'none'"
  (click)="toggleChatbox()" appPulse class="chatbot-button"></a>
</div>
