<div class="chatbot-wrapper">
  <div #chatbotWindow class="chatbot-window"
  [style.display]="preview ? 'none' : 'block'"
  [ngStyle]="styles.window">
    <div #chatbotHeader class="chatbot-header"
    [ngStyle]="styles.header">
      <img src="./assets/drabot.png"
      [style.top]="state != 0 ? '0' : '-25px'"><br>
      <span>Drabot</span>
      <a appPulse class="button"
      [style.display]="state != 0 ? 'inline' : 'none'"
      (click)="toggleChatbox()">Close</a>
    </div>
    <div class="chatbot-messages"
    [ngStyle]="styles.messages"
    #list [scrollTop]="list.scrollHeight">
      <p *ngFor="let message of messages"
      class="chatbot-message"
      [id]="message.id"
      [innerHTML]="message.content | keepHtml"
      [style.border-left]="message.keywords.length ? '5px solid olive' : '5px solid teal'">
      </p>
    </div>
    <form #chatbotForm class="chatbot-form"
    [ngStyle]="styles.form"
    (submit)="sendMessage()">
      <input type="text" [ngStyle]="styles.text"
      [(ngModel)]="text" [ngModelOptions]="{standalone: true}">
      <input appPulse type="submit" value="Send" class="button"
      [ngStyle]="styles.submit">
    </form>
  </div>
  <a class="chatbot-preview"
  [style.display]="preview ? 'block' : 'none'"
  (click)="toggleChatbox()">
    Click here for help
  </a>
  <a appPulse class="chatbot-button"
  [style.display]="preview || state == 0 ? 'block' : 'none'"
  [style.border]="preview ? '2.5px solid olive' : '2.5px solid teal'"
  (click)="toggleChatbox()"></a>
</div>
