.chatbot-window {
  z-index: 10;
  box-shadow: -5px 5px 10px #0003;
}

.chatbot-header {
  width: 100%;
  z-index: 11;
  background: linear-gradient(#333, #222);
  border-top: 5px solid var(--vibrant);
}

.chatbot-header span {
  position: relative;
  color: #EEE;
  bottom: 47.5px;
  left: 10px;
}

.chatbot-header img {
  position: relative;
  border-radius: 50%;
  border: 1px solid #EEE;
  left: 40%;
}

.chatbot-header a {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  left: 70%;
  bottom: 37.5px;
}

.chatbot-messages {
  background: radial-gradient(#FFF, #F8F8F8);
  border-left: 1px solid #EAEAEA;
  overflow-x: hidden;
}

.chatbot-message {
  margin: 10px;
  padding: 5px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}

.chatbot-form {
  width: 100%;
  z-index: 11;
  background: linear-gradient(#333, #222);
  border-bottom: 5px solid var(--vibrant);
  text-align: center;
}

.chatbot-form input {
  display: inline-block;
}

.chatbot-form input[type="text"] {
}

.chatbot-form input[type="submit"] {
  border-radius: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 5px;
}

.chatbot-preview {
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 75px;
  max-width: 90%;
  min-height: 35px;
  background: radial-gradient(#FFF, #F8F8F8);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  border: 1px solid #EAEAEA;
  border-right: none;
  border-bottom: 5px solid var(--vibrant);
  box-shadow: -5px 5px 10px #0003;
  text-decoration: none !important;
}

.chatbot-button {
  z-index: 10;
  cursor: pointer;
  background: radial-gradient(#333, #222);
  height: 50px;
  width: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  box-shadow: -5px 5px 10px #0003;
  text-decoration: none !important;
}

/* RESPONSIVE */
/*@media all and (max-width: 500px) {

  .chatbot-form {
    height: 98px;
  }

  .chatbot-form input {
    width: 90% !important;
  }

  .chatbot-form input[type="text"] {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 48px;
  }

}*/
