.chatbot-window {
  position: fixed;
  right: 0;
  z-index: 100;
}

.chatbot-header {
  background: linear-gradient(#222, #333);
  border-top: 5px solid var(--vibrant);
  color: #EEE;
  text-align: center;
}

.chatbot-header a {
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.chatbot-header span {
  position: relative;
  right: 35%;
  top: -45px;
}

.chatbot-header img {
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  overflow: hidden;
  height: 50px;
  width: 50px;
  display: inline-block;
  position: relative;
}

.chatbot-messages {
  background: radial-gradient(#FFF, #F8F8F8);
  border-left: 1px solid #EAEAEA;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatbot-message {
  margin: 5px;
  padding: 5px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}

.chatbot-form {
  background: linear-gradient(#333, #222);
  border-bottom: 5px solid var(--vibrant);
  text-align: center;
}

.chatbot-form input {
  display: inline-block;
}

.chatbot-form input[type="text"] {
  margin-top: 5px;
  width: 70%;
}

.chatbot-form input[type="submit"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5px;
  width: 20%;
}

@media all and (max-width: 500px) {
  .chatbot-form input {
    width : 90% !important;
    margin-bottom: 5px;
  }
}

.chatbot-button {
  z-index: 100;
  cursor: pointer;
  background: radial-gradient(#333, #222);
  height: 50px;
  width: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  box-shadow: -5px 5px 10px #0003;
  text-decoration: none !important;
}

.chatbot-preview {
  z-index: 100;
  position: fixed;
  right: 0;
  bottom: 75px;
  max-width: 90%;
  min-height: 35px;
  background: radial-gradient(#FFF, #F8F8F8);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  border: 1px solid #EAEAEA;
  border-right: none;
  border-bottom: 5px solid var(--vibrant);
  box-shadow: -5px 5px 10px #0003;
  text-decoration: none !important;
}
