.display {
  text-align: center;
}

.cadre {
  position: relative;
  width: 32%;
  min-width: 200px;
}

@media all and (max-width: 1220px) {
  .cadre {
    width: 45%;
  }
}

@media all and (max-width: 630px) {
  .cadre {
    width: 100%;
  }
}

@media all and (max-width: 368px) {
  .cadre {
    min-width: 100%;
  }
}
